{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movies.img.url}}" width="300" height="300">
            </div>
            <div class="col-md-">
                 <h1>{{movies.name}}</h1>
                <h4>{{movies.desc}} </h4>
                <h5>{{movies.number}}</h5>
                <a class="btn btn-warning" href="{% url 'movieapp:update'  movies.id %}">update</a><br>
                <a class="btn btn-danger" href="{% url 'movieapp:delete'  movies.id %}">delete</a><br>


            </div>
        </div>
</div>
{% endblock %}